<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.braingame.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Brain Game</name>

  <description>
      A brain game
  </description>

  <author href="https://ytechub.com" email="ab.ashagrie@ytechub.com">
      Abel
  </author>
  <icon src = "icon.png"/>
  <plugin name="cordova-plugin-splashscreen" source="npm" />
  <splash platform="android" qualifier="port-ldpi" src="res/ldpi/screen-ldpi-portrait.png" />
  <splash platform="android" qualifier="port-mdpi" src="res/mdpi/screen-mdpi-portrait.png" />
  <splash platform="android" qualifier="port-hdpi" src="res/hdpi/screen-hdpi-portrait.png" />
  <splash platform="android" qualifier="port-xhdpi" src="res/xhdpi/screen-xhdpi-portrait.png" />
  <splash src="splash.png" />
  <preference name="SplashScreenDelay" value="5000" />
</widget>